body{
    margin-top: 60px;
}

.notLogged{
    display: none;
}

.active{
    background-color: rgba(255, 255, 255, 0.8);
    color: black !important;
}

.authButtonsNav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.aOfNav{
    height: 100%;
}

.logo2{
    font-weight: bold;
    font-family: 'Syncopate', sans-serif;
    line-height: 50px;
    font-size: 13px;
}

.btn-warning{
    font-weight: 700;
    color: white;
}

.loginLink{
    line-height: 60px;
    height: 60px;
    color: white;
}

.logA{
    color: white;
    text-decoration-color: white !important;
}

.logA:hover{
    color:white;
    text-decoration-color: white !important;
}

.Nav{
    background-color: #2B3338;
    padding: 0 7%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    position:fixed;
    height: 60px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1); 
}

.footer{
    position: static;
    height: 50px;
    -webkit-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.1);
    box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.1);
}

.dataContainer{
    margin-top: 60px;
    padding: 0 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dataContainer > div{
    display: flex;
    justify-content: space-between; 
}

.divider{
    margin: 20px 10%;
    border-top-width: 2px;
}

.titleExp{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleExp > p{
    max-width: 500px;
}

.btnGo{
    padding: 0;
    color: white;
    height: 100%;
}

.logo{
    font-weight: bold;
    font-family: 'Syncopate', sans-serif;
    line-height: 60px;
    font-size: 18px;
}

.listOfNavItems{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navBtn{
    border-radius: 0;
    height: 100%;
    padding: 10px 30px;
    color: white;
}

.navBtn:hover{
    background-color: rgba(255, 255, 255, 0.8);
}